* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

viewer-pdf-toolbar-new #toolbar #end {
  display: none;
}

.fa-twitter {
  background: #5aa8df;
  padding: 4px;
  border-radius: 4px;
  width: 24px;
  height: 25px;
}
.fa-facebook {
  background: #445fa0;
  padding: 4px;
  border-radius: 4px;
  width: 24px;
  height: 25px;
}
.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-whatsapp {
  background: #20d466;
  padding: 4px;
  border-radius: 4px;
  width: 24px;
  height: 25px;
}
.fa-skype {
  background: #01aef3;
  padding: 4px;
  border-radius: 4px;
  width: 24px;
  height: 25px;
}


.fa-twitter:hover {
  color: black;
}
.fa-facebook:hover {
  color: black;
}
.fa-instagram:hover {
  color: black;
}
.fa-whatsapp:hover {
  color: black;
}
.fa-skype:hover {
  color: black;
}



.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.shadowHover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.shadowHover:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}


